span {
  font-size: 1.8rem;

  color: rgb(24, 33, 109);
  div {
    text-align: center;
    font-family: "Motiva Sans Bold";
  }
}
.content {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(24, 33, 109);
}
